.typeahead__input {
  font-size: 16px;
  width: 250px;
  height: 25px;
  padding-left: 5px;
}

.typeahead__form {
  display: flex;
  justify-content: center;
}

.typeahead__submit {
  font-size: 16px;
  margin-left: 5px;
  width: 100px;
}